Repository Glitter-Finance/Glitter-Bridge-SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix --no-error-on-unmatched-pattern

.lintstagedrc.json:

{
  "*.{md,json,yml,yaml}": "prettier --write",
  "*.{js,ts}": "eslint --cache --fix --no-error-on-unmatched-pattern"
}

Release 1.1.0-17
  packages/core/package.json
Due: prettier --write

Algorand Updates and refactorings
  packages/core/src/index.ts
  packages/core/src/lib/chains/_interface/connect.ts
  packages/core/src/lib/chains/algorand/AccountsStore.ts
  packages/core/src/lib/chains/algorand/AssetsRepository.ts
  packages/core/src/lib/chains/algorand/accounts.ts
  packages/core/src/lib/chains/algorand/algoError.ts
  packages/core/src/lib/chains/algorand/assets.ts
  packages/core/src/lib/chains/algorand/config.ts
  packages/core/src/lib/chains/algorand/connect.ts
  packages/core/src/lib/chains/algorand/index.ts
  packages/core/src/lib/chains/algorand/old.connect.ts
  packages/core/src/lib/chains/algorand/transactions/assets.ts
  packages/core/src/lib/chains/algorand/transactions/index.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/index.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/tokenDeposit.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/tokenRefund.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/tokenRelease.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/tokenVault.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/utils.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/index.ts
  packages/core/src/lib/chains/algorand/transactions/usdc/index.ts
  packages/core/src/lib/chains/algorand/transactions/utils.ts
  packages/core/src/lib/chains/algorand/txns/bridge.ts
  packages/core/src/lib/chains/algorand/txns/txns.ts
  packages/core/src/lib/chains/algorand/types.ts
  packages/core/src/lib/chains/algorand/utils.ts
  packages/core/src/lib/common/routing/routing.ts
  packages/core/src/lib/common/tokens/tokens.ts
  packages/core/src/lib/common/utils/value_units.ts
  packages/core/src/lib/configs/config.ts
  packages/core/src/lib/configs/networks/mainnet.ts
  yarn.lock
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Separate implementation of tokens from BridgeToken
  packages/core/src/lib/chains/evm/connect.ts
  packages/core/src/lib/chains/evm/types.ts
  packages/core/src/lib/chains/tron/types.ts
  packages/core/src/lib/configs/networks/mainnet.ts
  packages/core/src/lib/configs/networks/testnet.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

fix token config
  packages/core/src/lib/chains/evm/connect.ts
  packages/core/src/lib/chains/tron/connect.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

remove bridgetoken
  packages/core/src/lib/chains/evm/connect.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Release 1.1.0-18
  packages/core/package.json
Due: prettier --write

update
  package-lock.json
  yarn.lock
Due: prettier --write

Breakdown methods into different classes and added validation
  packages/core/src/index.ts
  packages/core/src/lib/chains/algorand/AccountsStore.ts
  packages/core/src/lib/chains/algorand/AlgorandConnect.ts
  packages/core/src/lib/chains/algorand/AssetsRepository.ts
  packages/core/src/lib/chains/algorand/index.ts
  packages/core/src/lib/chains/algorand/old.connect.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/index.ts
  packages/core/src/lib/chains/algorand/types.ts
  packages/core/src/lib/configs/networks/mainnet.ts
  packages/core/src/lib/configs/networks/testnet.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Added TronAPI Key
  packages/core/src/lib/chains/tron/connect.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Changing hardcoded destination network 'solana' to dynamic destination for algorand
  packages/core/src/lib/chains/algorand/txns/bridge.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Prep for EVM Token Bridge2 poller
  .eslintrc.js
  package-lock.json
  packages/core/src/GlitterBridgeSDK.ts
  packages/core/src/lib/chains/algorand/txns/bridge.ts
  packages/server/package.json
  packages/server/src/lib/chains/evm/poller.evm.ts
  packages/server/src/lib/chains/solana/poller.solana.common.ts
  packages/server/src/lib/chains/solana/poller.solana.token.v1.ts
  packages/server/src/lib/chains/solana/poller.solana.token.v2.ts
  packages/server/src/lib/chains/solana/poller.solana.ts
  packages/server/src/lib/common/cursor.ts
  packages/server/src/lib/configs/config.ts
  packages/server/src/lib/configs/networks/mainnet.ts
  packages/server/src/lib/configs/networks/testnet.ts
  packages/server/src/lib/glitterSDKServer.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix --no-error-on-unmatched-pattern

Release 1.0.1-6
  packages/server/package.json
Due: prettier --write

Restore bridge tokens file
  packages/core/src/index.ts
  packages/core/src/lib/chains/algorand/AccountsStore.ts
  packages/core/src/lib/chains/algorand/AlgorandConnect.ts
  packages/core/src/lib/chains/algorand/AssetsRepository.ts
  packages/core/src/lib/chains/algorand/transactions/assets.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/tokenVault.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/utils.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/index.ts
  packages/core/src/lib/chains/algorand/transactions/usdc/index.ts
  packages/core/src/lib/chains/algorand/types.ts
  packages/core/src/lib/chains/evm/connect.ts
  packages/core/src/lib/chains/evm/types.ts
  packages/core/src/lib/chains/solana/connect.ts
  packages/core/src/lib/chains/tron/connect.ts
  packages/core/src/lib/chains/tron/types.ts
  packages/core/src/lib/common/index.ts
  packages/core/src/lib/common/routing/routing.ts
  packages/core/src/lib/common/tokens/BridgeTokens.ts
  packages/core/src/lib/common/tokens/index.ts
  packages/core/src/lib/common/tokens/tokens.ts
  packages/core/src/lib/common/tokens/types.ts
  packages/core/src/lib/configs/networks/mainnet.ts
  packages/core/src/lib/configs/networks/testnet.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Removal of tokenVault helpers which will be v2
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/index.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/tokenVault.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/utils.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/index.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Moved AlgorandAccount types to types.ts
  packages/core/src/lib/chains/algorand/AccountsStore.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/utils.ts
  packages/core/src/lib/chains/algorand/types.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

`GlitterBridgeSDK` clean up and types updtes for algorand
  .lintstagedrc.json
  packages/core/src/GlitterBridgeSDK.ts
  packages/core/src/lib/chains/algorand/AccountsStore.ts
  packages/core/src/lib/chains/algorand/AlgorandConnect.ts
  packages/core/src/lib/chains/algorand/AssetsRepository.ts
  packages/core/src/lib/chains/algorand/old.connect.ts
  packages/core/src/lib/chains/algorand/types.ts
  packages/core/src/lib/common/tokens/types.ts
Due: prettier --write, eslint --cache --fix --no-error-on-unmatched-pattern

Remove insignificant nested directories
  packages/core/src/GlitterBridgeSDK.ts
  packages/core/src/index.ts
  packages/core/src/lib/chains/algorand/AlgorandConnect.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/index.ts
  packages/core/src/lib/chains/algorand/transactions/usdc/index.ts
  packages/core/src/lib/chains/evm/connect.ts
  packages/core/src/lib/chains/evm/serde.ts
  packages/core/src/lib/chains/evm/types.ts
  packages/core/src/lib/chains/solana/connect.ts
  packages/core/src/lib/chains/solana/txns/bridge.ts
  packages/core/src/lib/chains/solana/txns/txns.ts
  packages/core/src/lib/chains/tron/connect.ts
  packages/core/src/lib/common/index.ts
  packages/core/src/lib/common/networks/index.ts
  packages/core/src/lib/common/routing/index.ts
  packages/core/src/lib/common/tokens/BridgeTokens.ts
  packages/core/src/lib/common/transactions/index.ts
  packages/core/src/lib/common/utils/index.ts
  packages/core/src/lib/configs/config.ts
  packages/core/src/lib/configs/index.ts
  packages/core/src/lib/configs/mainnet.ts
  packages/core/src/lib/configs/testnet.ts
  packages/core/src/types.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Move config one level up from `lib`
  packages/core/src/GlitterBridgeSDK.ts
  packages/core/src/config/index.ts
  packages/core/src/config/mainnet.ts
  packages/core/src/config/testnet.ts
  packages/core/src/index.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

remove unused config
  packages/core/src/config/mainnet.ts
  packages/core/src/config/testnet.ts
  packages/core/src/types.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

New Package.json version for core
  packages/core/package.json
Due: prettier --write

Release 1.1.0-19
  packages/core/package.json
Due: prettier --write

Release 1.1.0-20
  packages/core/package.json
Due: prettier --write

Committing change of constant solana to dynamic destination
  package-lock.json
  packages/core/src/lib/chains/algorand/txns/txns.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix --no-error-on-unmatched-pattern

Release 1.1.0-21
  packages/core/package.json
Due: prettier --write

Removal of `destinationSymbol`
  packages/core/src/config/mainnet.ts
  packages/core/src/lib/chains/algorand/AlgorandConnect.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/index.ts
  packages/core/src/lib/common/tokens/types.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

dynamic get token call
  packages/core/src/lib/common/tokens/BridgeTokens.ts
  packages/core/src/lib/common/tokens/types.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Remove added `__type` field from `BridgeTokenConfig` `AlgorandStandardAssetConfig` `AlgorandNativeTokenConfig`
  packages/core/src/config/testnet.ts
  packages/core/src/lib/chains/algorand/transactions/tokenBridge/helpers/utils.ts
  packages/core/src/lib/common/tokens/types.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Solana use BridgeToken
  packages/core/src/lib/chains/solana/txns/bridge.ts
  packages/core/src/lib/chains/solana/utils.ts
  packages/core/src/lib/chains/tron/connect.ts
  packages/core/src/lib/chains/tron/utils.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Solana updates
  packages/core/src/GlitterBridgeSDK.ts
  packages/core/src/config/mainnet.ts
  packages/core/src/config/testnet.ts
  packages/core/src/index.ts
  packages/core/src/lib/chains/algorand/AlgorandConnect.ts
  packages/core/src/lib/chains/evm/connect.ts
  packages/core/src/lib/chains/flow/config.ts
  packages/core/src/lib/chains/hedera/config.ts
  packages/core/src/lib/chains/index.ts
  packages/core/src/lib/chains/solana/AccountsStore.ts
  packages/core/src/lib/chains/solana/SolanaConnect.ts
  packages/core/src/lib/chains/solana/accounts.ts
  packages/core/src/lib/chains/solana/assets.ts
  packages/core/src/lib/chains/solana/index.ts
  packages/core/src/lib/chains/solana/old.connect
  packages/core/src/lib/chains/solana/solanaError.ts
  packages/core/src/lib/chains/solana/transactions/index.ts
  packages/core/src/lib/chains/solana/transactions/sol.ts
  packages/core/src/lib/chains/solana/transactions/spl.ts
  packages/core/src/lib/chains/solana/transactions/tokenBridge/bridgeSOL.ts
  packages/core/src/lib/chains/solana/transactions/tokenBridge/bridgeSPL.ts
  packages/core/src/lib/chains/solana/transactions/tokenBridge/index.ts
  packages/core/src/lib/chains/solana/transactions/tokenBridge/schemas.ts
  packages/core/src/lib/chains/solana/transactions/tokenBridge/utils.ts
  packages/core/src/lib/chains/solana/transactions/usdc/index.ts
  packages/core/src/lib/chains/solana/txns/bridge.ts
  packages/core/src/lib/chains/solana/txns/txns.ts
  packages/core/src/lib/chains/solana/types.ts
  packages/core/src/lib/chains/solana/utils.ts
  packages/core/src/lib/chains/stellar/config.ts
  packages/core/src/lib/index.ts
  packages/core/src/types.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

validation
  packages/core/src/lib/chains/algorand/transactions/usdc/index.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

remove extra stringification
  packages/core/src/lib/chains/algorand/transactions/usdc/index.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

extra word
  packages/core/src/lib/chains/algorand/transactions/usdc/index.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Solana refactorings
  packages/core/src/lib/chains/algorand/AlgorandConnect.ts
  packages/core/src/lib/chains/solana/AccountsStore.ts
  packages/core/src/lib/chains/solana/SolanaConnect.ts
  packages/core/src/lib/chains/solana/old.connect
  packages/core/src/lib/chains/solana/transactions/tokenBridge/bridgeSOL.ts
  packages/core/src/lib/chains/solana/types.ts
  packages/core/src/lib/common/tokens/types.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

Solana Refactorings
  packages/core/src/lib/chains/solana/AccountsStore.ts
  packages/core/src/lib/chains/solana/SolanaConnect.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

sol cleanup
  packages/core/src/lib/chains/solana/AccountsStore.ts
Due: eslint --cache --fix --no-error-on-unmatched-pattern

fix build script
  package.json
Due: prettier --write
